* {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: "Lora", serif;
}

body {
    background-image: url(../src/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

nav {
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to left,rgb(51, 134, 180), rgb(40, 214, 167));
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    position: fixed;
    top: 0px;
}

.nav-element>ul>a>h3:hover {
    transition: ease-in-out 0.25s;
    color: darkmagenta;
}

.active {
    color:crimson;
    border-bottom: 2px solid crimson;
}

h1 {
    font-family: "Satisfy", cursive;
    font-weight: 600;
    font-style: normal;
}

.nav-element {
    display: flex;
    gap: 30px;
}

.dot {
    display: none;
}

.nav-element>ul>a {
    text-decoration: none;
}

.icon {
    font-size: 30px;
    cursor: pointer;
}

footer {
    position: fixed;
    background-image: linear-gradient(to right,rgb(51, 134, 180), rgb(40, 214, 167));
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    bottom: 0px;
}

main {
    width: 100%;
    height: calc(100% - 100px);
    padding-bottom: 50px;
    padding-top: 100px;
}

.msg {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.para-div {
    width: 40%;
    font-size: 2rem;
    font-weight: 600;
}

.img-div {
    width: 40%;
    display: flex;
    justify-content: right;
}

.img-div>img {
    z-index: -99;
    height: 30rem;
    filter: drop-shadow(10px 10px 10px #000);
}

.project-table {
    height: auto;
    padding-top: 20px;
    padding-bottom: 55px;
}

.project-table>h4 {
    font-size: 1.5rem;
    padding-left: 2vw;
}

.project-table>ol {
    padding-left: 7vw;
    padding-top: 20px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-table>ol>li>span {
    padding-left: 40px;
}

.project-table>ol>li>h3{
    font-weight: 600;
    display: inline;
}

.sample-img {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    height: 250px;
    gap: 20px;
    width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
}

.sample-img>img {
    border-radius: 10px;
    border: 1px solid #000;
}







@media (min-width : 960px){
    .nav-element{
        display: flex;
    }
}

@media (max-width : 960px){

    .nav-element{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        height: 100vh;
        width: 30%;
        background-image: linear-gradient(to left,rgb(51, 134, 180), rgb(40, 214, 167));
        text-align: center;
        line-height: 2;
        animation: act 0.25s linear;
    }

    @keyframes act{
        0% {
            position: absolute;
            top: 60px;
            right: 0;
            width: 0%;
        }

        100% {
            position: absolute;
            top: 60px;
            right: 0;
            width: 30%;
        }
    }

    @keyframes dec{
        0% {
            position: absolute;
            top: 60px;
            right: 0;
            width: 30%;
        }

        100% {
            position: absolute;
            top: 60px;
            right: 0;
            width: 0%;
        }
    }

    .nav-element>ul {
        border-top: 2px solid #000;
    }

    .dot {
        display: block;
    }

    .msg{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .para-div {
        width: 80%;
    }

    .img-div {
        height: auto;
        display: flex;
        justify-content: center;
    }

    .img-div>img {
        height: 70vw;
    }

    .sample-img{
        padding: 0;
    }
    

}

@media (max-width : 520px){
    footer {
        font-size: 1rem;
        padding-top: 6px;
    }

    .nav-element {
        display: none;
        position: absolute;
        top: 60px;
        width: 100%;
        height: auto;
        animation: act 0.25s linear;
    }

    @keyframes act{
        0% {
            position: absolute;
            top: 0px;
            width: 100%;
            z-index: -33;
        }

        100% {
            position: absolute;
            top: 60px;
            width: 100%;
            z-index: -33;
        }
    }

    @keyframes dec{
        0% {
            position: absolute;
            top: 60px;
            right: 0;
            width: 30%;
        }

        100% {
            position: absolute;
            top: 60px;
            right: 0;
            width: 0%;
        }
    }

    .img-div {
        height: auto;
        display: flex;
        justify-content: center;
    }

    .img-div>img {
        height: 95vw;
    }
}